.headerMobile{
  background: #D7B9EE;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 12px;
}

.header{
  background: #281E30;
  height: 60px;
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 24px;
}

.logoHeader{
  display: flex;
  align-items: center;
}

.navContainer{
  display: block;
}

.navContainerMobile{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #86868648;
  display: none;
  z-index: 3;
}

.navContainerMobile.navActive{
  display: block;
}

.menu{
  display: block;
  position: relative;
  padding: 12px;
  height: 100vh;
  width: 260px;
  background: linear-gradient(88.5deg, #D7B9EE 1.53%, #C29AE0 98.98%);
}

.mobileMenu{
  display: none;
  position: relative;
  padding: 12px;
  height: 100vh;
  width: 260px;
  border:1px solid #B496CB;
  top: 0px;
  left: 0px;
  background: #D7B9EE;
  transform: translateX(-100px);
  animation: openMenu .2s forwards;
}

.closeMenu{
  animation: closeMenu .2s forwards;
}

@keyframes openMenu {
  from{
    transform: translateX(-100px);
    opacity: 0;
  }to{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes closeMenu {
  from{
    transform: translateX(0);
    opacity: 1;
  }to{
    transform: translateX(-100px);
    opacity: 0;
  }
}

.navTitle{
  display: flex;
  flex-direction: column;
  gap:12px;
  font-family: 'Poppins';
  font-size: 1.2rem;
  color: #3D3D3D;
  padding: 12px 0 20px 0;
}

.navTitle::after{
  content:'';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #B496CB;
}

.mobileMenu ul{
  list-style: none;
  font-family: 'Roboto';
  font-size: 1.2rem;
  line-height: 1.4;
  color: #3D3D3D;
  margin-top: 12px;
}

.mobileMenu ul li{
  display: grid;
  align-items: center;
  justify-content: start;
  position: relative;
  gap: 12px;
  grid-template-columns: auto .9fr auto;
  cursor: pointer;
}

.mobileMenu ul li+li{
  margin-top: 20px;
}


.mobileMenu ul li svg{
  width: 20px;
  height: 20px;
}

.mobileMenu ul li span{
  font-family: 'Roboto';
  font-size: .8rem;
  color: #525252;
  display: flex;
  align-items: center;
}

.mobileMenu ul li.active{
  z-index:4;
}

.mobileMenu ul li.active::before{
  content:'';
  display: block;
  position: absolute;
  height: 40px;
  width: 108%;
  top: -7px;
  left: -12px;
  background: #EBDBF7;
  border-radius: 0px 10px 10px 0px;
  z-index:-1;
}

.mobileMenuActive{
  display: block;
}

.menuBtn{ 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: #B496CB;
  border: 1px solid #66368B;
  border-radius: 5px;
  color:#66368B;
}

.menuBtn::before{
  content:'';
  display: block;
  width: 20px;
  height: 3px;
  background-color: currentColor;
  box-shadow: 0px 6px currentColor,
            0px -6px currentColor;
  transition: .3s;
}

.menuBtn:hover,
.menuBtn:focus,
.menuBtn:active{
  box-shadow: 0px 0px 4px currentColor;
}

.menuBtn:focus::before,
.menuBtn:active::before{
  width: 3px;
  height: 3px;
  transition: .3s;
}

.logoName{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #200436;
  border: 1px solid #B496CB;
  border-radius: 50%;
  font-family: 'Poppins';
  font-size: 1.3rem;
  color: #D9D9D9;
}

.logout{
  
}